VITE_APP_NAME=STELS Web OS
VITE_APP_VERSION=0.12.8

VITE_GITHUB_CLIENT_ID=Ov23lilBxA5b6oNFFr9E
VITE_GITHUB_REDIRECT_URI=http://10.0.0.125:8088/auth/github/callback

VITE_APP_NAME=STELS Web OS
VITE_APP_VERSION=0.12.8

VITE_GITHUB_CLIENT_ID=Ov23liSuZbg5RNyCM1n9
VITE_GITHUB_REDIRECT_URI=https://rpc.airarchy.net/auth/github/callback
